<div class="mainbox">
    <div class="box">
        <img src="./../../assets/signupimg.jpg" alt="" class="signupimg">
        <div class="ui tiny inverted form">
            <div class="two fields">
                <div class="field">
                    <label for="">სახელი:</label>
                    <input placeholder="" type="text">
                </div>
                <div class="field">
                    <label for="">გვარი:</label>
                    <input placeholder="" type="text">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label for="">მობილურის ნომერი ან ელ-ფოსტა:</label>
                    <input placeholder="" type="text">
                </div>
                <div class="field">
                    <label for="">პაროლი:</label>
                    <input placeholder="" type="text">
                </div>
            </div>
            <div class="two fields">
                <div class="twelve wide field">
                    <label for="">გაიმეორეთ პაროლი:</label>
                    <input type="text" name="shipping[address]">
                </div>
            </div>
            <label class="two" for="">დაბადების თარიღი:</label>
            <div _ngcontent-arb-c63="" class="form-group col-md-8 d-flex">
                <select class="mr-1">
                    <option value="">დღე</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <select class="mr-1">
                    <option value="">თვე</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
                <select class="mr-1">
                    <option value="">წელი</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="two inline fields">
                <label for="fruit">სქესი:</label>
                <div class="field">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">კაცი</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                            class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">ქალი</label>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <button class="ui inverted violet basic button mt-3">რეგისტრაცია</button>
            </div>
        </div>